<html>
  <head>
    <title>Survey</title>
  </head>
  <body>
 	<h1>Survey Form</h1>
 	<form action = '/success' method = 'POST'>
 		Your Name: <input type ='text' name = 'name'><br>
 		Dojo Location: <input type = 'text' name ='location'><br>
 		Favorite Language: <input type = 'text' name = 'language'><br>
 		Comment:<input type = 'text' name='comment' rows="4" cols="50">
 		<input type='submit' value ='Submit'>
 	</form>
  </body>
</html>