<html>
  <head>
    <title>Submitted Info</title>
  </head>
  <body>
 	<h1>Submitted Information</h1>
 	<h4>Name: <%=data.name%></h4>
 	<h4>Dojo Location: <%=data.location%></h4>
 	<h4>Favorite Language: <%=data.language%></h4>
 	<h5>Comment: <%=data.comment%></h5>

  </body>
</html>